@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(216, 216, 216);
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

.wrapper {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.grey {
    color: #999999;
}

.profile-top {
    height: 250px;
    width: 508px;
    background-image: url("lake-baikal-summer.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.profile-image {
    background-image: url("image\ portfolio.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.profile-bottom {
    
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-infos {
    display: flex;
    align-items: center;
    font-size: 28px;
    margin-bottom: 5px;
}

.name {
    font-weight: 700;
    margin-right: 15px;
}

.email {
    font-size: 14px;
    margin-bottom: 25px;
}

.ville {
    font-size: 20px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ville ion-icon {
    margin-right: 5px;
    color: #388eff;
}

.profile-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.stat-item:not(:last-child) {
    border-right: 1px solid black;
}

.stat {
    font-size: 20px;
    font-weight: 700;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
#a2{
    text-decoration: none;
    color: black;
   
}
footer {
    width: 100%;
	margin-top: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.342);
	color: white;
    border-radius: 20px;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}
@media  screen and (max-width: 767px) {
    .wrapper{
        height: 80vh;
        width: 80vw;

    }
    .profile-image{
        display: none;
        visibility: hidden;
    }
    .profile-top{
        display: none;
        visibility: hidden;
    }
    #a2{
        justify-content: center;
    }

}
@media  screen and (max-width: 350px) {
	nav {
		justify-content: center;
		
	}


	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}
	.page-content #projects-section {
		margin-top: 15%;
	}
	.page-content #projects-section h1 {
		font-size: 1.5em;
	}
	.page-content #projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content #projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}
@media  screen and (max-width: 339px) {
	nav {
		justify-content: center;
		display: none;
        visibility: hidden;
	}


	.page-content header {
		display: none;
        visibility: hidden;
	}
	.page-content #projects-section {
		display: none;
        visibility: hidden;
	}
	.page-content #projects-section h1 {
		display: none;
        visibility: hidden;
	}
	.page-content #projects-section .project {
		display: none;
        visibility: hidden;
	}
	.page-content #projects-section .project .description {
		display: none;
        visibility: hidden;
	}

	footer {
		justify-content: flex-start;
        display: none;
        visibility: hidden;
	}
	footer .column {
		width: 80%;
        display: none;
        visibility: hidden;
	}
}
@media  screen and (max-width: 339px) {
    .wrapper{
        height: 80vh;
        width: 80vw;
        display: none;
        visibility: hidden;

    }
   
}